#!/bin/sh

# This script is just an example to show how to launch
# make with the right environment variables set.  You
# should customize these and save this file as compile.sh

export JDK_INCLUDE_PATH=/usr/lib/jvm/java-6-openjdk/include/
export FIJI_LAUNCHER=/home/mark/fiji/fiji
export ITK=/home/mark/cvlab-work/ITK
make "$@"

